<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="messageEntityMappings" type="MessageParser.Config.MessageEntityMappingConfig,KaJiLianDongV1.1MessageParser"/>
  </configSections>
  <!--<system.diagnostics>
    <sources>
      <source name="MessageLookup" switchName="sourceSwitch">
        <listeners>
          <add name="fileListener"/>
          <add name="consoleListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="All"/>
    </switches>

    <sharedListeners>
      <add name="fileListener" type="ROWPOS.Common.Logger.TraceListeners.AutoSplitLogTraceListener" initializeData="Log\MessageLookup_{yyyyMMdd}.log" traceOutputOptions="DateTime" />
      <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
    </sharedListeners>

    <trace autoflush="true" indentsize="4"/>
  </system.diagnostics>-->
  <messageEntityMappings>
    <Mappings>
      <add code="0x30" type="MessageParser.GenericInquiryRequest" description=""></add>
    </Mappings>
  </messageEntityMappings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
