<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="messageEntityMappings" type="MessageParser.Config.MessageEntityMappingConfig,KaJiLianDongV1.1MessageParser"/>
  </configSections>
  <!--<system.diagnostics>
    <sources>
      <source name="MessageLookup" switchName="sourceSwitch">
        <listeners>
          <add name="fileListener"/>
          <add name="consoleListener"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="All"/>
    </switches>

    <sharedListeners>
      <add name="fileListener" type="ROWPOS.Common.Logger.TraceListeners.AutoSplitLogTraceListener" initializeData="Log\MessageLookup_{yyyyMMdd}.log" traceOutputOptions="DateTime" />
      <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
    </sharedListeners>

    <trace autoflush="true" indentsize="4"/>
  </system.diagnostics>-->
  <messageEntityMappings>
    <Mappings>
      <add code="0x30" type="MessageParser.PumpGenericInquiryRequest" description=""></add>
      <add code="0x31" type="MessageParser.PumpStateChangeRequest" description=""></add>
      <add code="0x32" type="MessageParser.PumpNotifyTransactionDoneRequest" description=""></add>
      <add code="0x33" type="MessageParser.PumpAskDataDownloadRequest" description=""></add>
      <add code="0x34" type="MessageParser.PumpDataDownloadRequest" description=""></add>
      <add code="0x36" type="MessageParser.PumpInquiryBlackAndWhiteListRequest" description=""></add>
      <add code="0x38" type="MessageParser.PcAskReadPumpAccumulatorResponse" description=""></add>
    </Mappings>
  </messageEntityMappings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
