<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="messageEntityMappings" type="MessageParser.Config.MessageEntityMappingConfig,KaJiLianDongV1.1MessageParser"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="PcActiveMode" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="PosDatabaseConnStr" connectionString="Data Source=127.0.0.1,1433;Initial Catalog=SinoChemPosDatabase;Persist Security Info=True;User ID=sa;Password=em12345"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\log\" />
      <datePattern value="'Main_'yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Start logging...]&#xD;&#xA;" />
        <footer value="[Logging stop.]&#xD;&#xA;" />
        <conversionPattern value="%date [ %thread:%-5level] %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="PerformanceRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\log\" />
      <datePattern value="'Performance_'yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Start logging...]&#xD;&#xA;" />
        <footer value="[Logging stop.]&#xD;&#xA;" />
        <conversionPattern value="%date [ %thread:%-5level] %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="IpRestrictionRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\log\" />
      <datePattern value="'IpRestriction_'yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Start logging...]&#xD;&#xA;" />
        <footer value="[Logging stop.]&#xD;&#xA;" />
        <conversionPattern value="%date [ %thread:%-5level] %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="Main">
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="Performance">
      <level value="DEBUG" />
      <appender-ref ref="PerformanceRollingFileAppender" />
    </logger>
    <logger name="IpFilter">
      <level value="DEBUG" />
      <appender-ref ref="IpRestrictionRollingFileAppender" />
    </logger>
  </log4net>

  <messageEntityMappings>
    <Mappings>
      <add code="0x30" type="MessageParser.PumpGenericInquiryRequest" description=""></add>
      <add code="0x31" type="MessageParser.PumpStateChangeRequest" description=""></add>
      <add code="0x32" type="MessageParser.PumpNotifyTransactionDoneRequest" description=""></add>
      <add code="0x33" type="MessageParser.PumpAskDataDownloadRequest" description=""></add>
      <add code="0x34" type="MessageParser.PumpDataDownloadRequest" description=""></add>
      <add code="0x36" type="MessageParser.PumpInquiryBlackAndWhiteListRequest" description=""></add>
      <add code="0x38" type="MessageParser.PcAskReadPumpAccumulatorResponse" description=""></add>
    </Mappings>
  </messageEntityMappings>
</configuration>